@model DataLayer.EfClasses.PriceOffer

<h2>Add/Change Book Promotion</h2>

@if (Model.PriceOfferId > 0)
{
    <form asp-controller="Admin" asp-action="ChangePromotion" method="post">
        <input asp-for="BookId" type="hidden" />
        <input asp-for="PriceOfferId" type="hidden" />
        <input asp-for="NewPrice" type="hidden" />
        <input asp-for="PromotionalText" type="hidden" />
        <div class="form-group">
            <div class="col-sm-2">
                <label>Book Title</label>
            </div>
            <div class="col-sm-10">
                @ViewData["BookTitle"]
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <button type="submit">Remove promotion</button>
            </div>
        </div>

    </form>
}
else
{
<form asp-controller="Admin" asp-action="ChangePromotion" method="post">
    <input asp-for="BookId" type="hidden" />
    <input asp-for="PriceOfferId" type="hidden" />
    <div class="form-group">
        <div class="col-sm-2">
            <label>Book Title</label>
        </div>
        <div class="col-sm-10">
            @ViewData["BookTitle"]
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            <label>Org Price</label>
        </div>
        <div class="col-sm-2">
            @ViewData["OrgPrice"]
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <label>New Price</label>
        </div>
        <input asp-for="NewPrice" class="form-control col-sm-2" />
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <label>Promotional Text</label>
        </div>
        <span asp-validation-for="PromotionalText" class="text-danger"></span>
        <input asp-for="PromotionalText" class="form-control col-sm-10" />
    </div>
    <div class="form-group">
        <div class="offset-md-2 col-md-10">
            <button type="submit">Update</button>
        </div>
    </div>

</form>
          
}
